@import './css-loader-8.scss';

.container-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    .loader {
        position: absolute;
        top: calc(50% - 12em);
        left: calc(50% - 5em);
    }
    &.show {
        display: block;
    }
}
